@import "compass";
//header
@import "_common/header";
//breadcrumbs
@import "_common/breadcrumbs";
//content
@import "_common/content";
//sidebar
@import "_common/sidebar";
//accordeon
@import "_common/accordeon";
//jquery-ui
@import "_common/jquery-ui";
//catalog
@import "_common/catalog";
//info_block
@import "_common/info_block";
//footer
@import "_common/footer";
//sprite
@import "../sprites/sprite";
body,
html {
    height: 100%;
    width: 100%;
    font-family: "OpenSans-Regular";
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #f4f4f4;
    min-width: 1255px;
}

.wrapper:after {
    content: "";
    display: block;
    height: 220px;
}

.container {
    width: 1100px;
    margin: 0 auto;
    &::after {
      content: '';
      display: block;
      clear: both;
    }
}

ul {
    padding: 0;
    margin: 0;
}
