doctype html
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title Cooltech
        //SEO
        meta(name="description" content="ego_shop")
        meta(name="keywords" content="ego_shop")
        meta(name="author" content="ego")
        //favicon.ico
        link(rel="icon" href="../favicon.ico" type="image/x-icon")
        //bowerCSS
        link(rel="stylesheet", href="../bower/normalize-css/normalize.css")
        //CSS
        link(rel="stylesheet", href="../css/style.css")
        //modernizer
        script(src="../bower/modernizr/modernizr.js")
        //[if lt IE 9]
            script(src="../js/html5shiv.js")
            //[endif]
    body
        .wrapper
            block header
                include _common/header
            block breadcrumbs
                include _common/breadcrumbs
            block content
            block info_block
                include _common/info_block
            script(src="../bower/jquery/jquery.js")
            script(src="../bower/jquery/jquery.columnizer.js")
            script(src="../bower/slider/jquery-ui.js")
            script(src="../bower/select2/dist/js/select2.min.js")
            script(src="../js/main.js")
            block footer
                include _common/footer
        

    
